.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    padding: 0 60px;
    width: 400px;
    max-width: 90%;
    align-items: center;
    gap: 60px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img {
    margin-top: 85px;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.email {
    padding-right: 35px;
}

.password {
    padding-right: 10px;
}

.action {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.login-button {
    background-color: var(--white);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: black;
    }
}

.back {
    margin-left: -115px;
    color: rgb(0, 0, 0);

    &:hover {
        color: red;
    }
}
.register {
    margin-left: 230px;
    color: rgb(0, 0, 168);

    &:hover {
        color: rgb(0, 0, 255);
    }
}

