.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    width: 421px;
    max-width: 90%;
    align-items: center;
    gap: 60px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img {
    margin-top: 85px;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

//lable
.username {
    padding-right: 15px;
}

.password {
    padding-right: 20px;
}

//Action
.action {
    padding-left: 85px;
    display: inline-grid;
    gap: 10px;
}

.button {
    background-color: var(--white);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: black;
    }
}

.login {
    margin-left: 27px;
    color: rgb(0, 0, 109);

    &:hover {
        color: rgb(0, 0, 255);
    }
}
